@import "tailwindcss";

body {
    position: relative;
    margin: 0;
    height: 100dvh;
    overflow: hidden;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(50px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.fade-in-hold-on {
    opacity: 0;
    animation: fadeInUp 1s ease-in-out forwards;
    animation-delay: 1s;
}

.fade-in-story {
    opacity: 0;
    animation: fadeInUp 1s ease-in-out forwards;
    animation-delay: 2s;
}